article.article_home {
  width: 1160px;
  margin: 0 auto;
  position: relative;
}

article.article_home section.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
}

article.article_home section.header h3 {
  font-size: 24px;
}

article.article_home section.header p {
  font-size: 14px;
  font-weight: 400;
}

article.article_home section.time {
  text-align: right;
  padding-right: 5px;
}

article.article_home section.time div ul li {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

article.article_home section.time div ul li input {
  display: none;
}
article.article_home section.time div ul li form {
  display: none;
}

article.article_home section.time div ul li label {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

article.article_home section.time div ul li label div {
  width: 200px;
  border: 2px solid var(--primary-color);
  text-align: left;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

#submenu:checked ~ form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 9;
  position: absolute;
  right: 0;
  top: 50px;
  background: var(--white-color);
  padding: 20px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  width: 220px;
  gap: 20px;
}

#submenu:checked ~ form input {
  display: flex;
}

article.article_home section.time div ul li form button {
  width: 100%;
  height: 30px;
  border-radius: 20px;
  border: 1px solid var(--white-color);
  background: var(--primary-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

article.article_home section.time div ul li form p {
  text-align: center;
  color: red;
}

article.article_home section.time div ul li form input {
  background: inherit;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--primary-color);
}

article.article_home section.time div ul li form button img {
  width: 15px;
  height: 15px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}

article.article_home section.content_card {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 80px;
  gap: 15px;
}

article.article_home section.content_card div.card {
  position: relative;
  width: 280px;
  margin: 0 auto;
}

article.article_home section.content_card div.card a {
  text-decoration: none;
  color: inherit;
}

article.article_home section.content_card div.card a div.img img {
  overflow: hidden;
  width: 280px;
  height: 280px;
  border-radius: 8px;
  object-fit: cover;
}

article.article_home section.content_card div.card a div.description {
  position: absolute;
  top: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0.6) 70%,
    rgba(0, 0, 0, 0.9) 100%
  );
  border-radius: 0 0 8px 8px;
  width: 279px;
  height: 100%;
}

article.article_home section.content_card div.card a div.description div.info {
  position: absolute;
  bottom: 0;
  padding: 20px;
  color: var(--white-color);
}

article.article_home
  section.content_card
  div.card
  a
  div.description
  div.info
  h4 {
  font-weight: 500;
  font-size: 26px;
}

article.article_home
  section.content_card
  div.card
  a
  div.description
  div.info
  p {
  font-size: 16px;
}

article.article_home section.reload {
  display: flex;
  justify-content: center;
}

article.article_home section.reload img {
  width: 30px;
  height: 30px;
}

article.article_home section.load {
  display: flex;
  justify-content: center;
}

article.article_home section.load div button {
  background: var(--primary-color);
  color: var(--white-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

@media (max-width: 1200px) {
  article.article_home {
    width: auto;
  }
  article.article_home section.content_card {
    display: grid;
    grid-template-columns: repeat(3, 280px);
  }
}

@media (max-width: 900px) {
  article.article_home {
    width: auto;
  }
  article.article_home section.content_card {
    display: grid;
    grid-template-columns: repeat(2, 280px);
  }
}

@media screen and (max-width: 500px) {
  article.article_home {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  article.article_home section.content_card {
    display: grid;
    grid-template-columns: repeat(2, 165px);
  }
  article.article_home section.content_card div.card {
    width: 100%;
  }
  article.article_home section.content_card div.card a div.img img {
    width: 100%;
    height: 180px;
  }
  article.article_home section.content_card div.card a div.description {
    width: 100%;
    height: 100%;
  }
  article.article_home
    section.content_card
    div.card
    a
    div.description
    div.info {
    padding: 10px;
  }
  article.article_home
    section.content_card
    div.card
    a
    div.description
    div.info
    h4 {
    font-size: 18px;
  }
  article.article_home
    section.content_card
    div.card
    a
    div.description
    div.info
    p {
    font-size: 14px;
  }
}
