nav.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  border-radius: 0px 0px 5px 5px;
  padding: 0 40px;
}

nav.nav {
  border-top: 4px solid var(--primary-color);
}

nav.nav section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
}

nav.nav section img.cart,
div.menu {
  position: absolute;
}

nav.nav div.navigation {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 30px;
  align-items: center;
}

nav.nav div.navigation img {
  width: 110px;
  height: 110px;
}

nav.nav div.navigation p {
  font-weight: 500;
  font-size: 18px;
}

nav.nav div.navigation p.text_left {
  text-align: left;
}

nav.nav div.actions {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 10px;
  align-items: center;
}

nav.nav div.actions div {
  padding: 10px;
}

nav.nav div.actions div img {
  width: 25px;
  height: 25px;
  filter: invert(33%) sepia(42%) saturate(2731%) hue-rotate(220deg)
    brightness(96%) contrast(103%);
  cursor: pointer;
}

nav.nav div.actions button {
  background: var(--primary-color);
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  color: var(--white-color);
}

nav.nav div.actions button:hover {
  background-image: to right, #0218cf 0%, #4b59f8 50%, #0218cf 100%;
}

nav.nav div.actions select {
  border: none;
  border-radius: 8px;
  background: transparent;
  color: var(--text-color);
  padding: 5px;
  cursor: pointer;
}

nav.nav section div.menu_mobile,
nav.nav div.mobile {
  display: none;
}

nav.nav section img.cart {
  display: none;
}

@media (max-width: 750px) {
  nav.nav {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  nav.nav section {
    align-items: center;
  }

  nav.nav section div.menu_mobile {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
  }

  nav.nav div.navigation {
    gap: 15px;
  }

  nav.nav section img.cart,
  div.menu {
    position: relative;
  }

  nav.nav div.navigation p.text_left {
    font-size: 16px;
  }

  nav.nav div.actions {
    display: none;
  }

  nav.nav div.navigation img {
    width: 70px;
    height: 70px;
  }

  nav.nav div.navigation a p {
    display: none;
  }

  nav.nav div.mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  nav.nav section img.cart {
    display: flex;
    width: 30px;
    height: 30px;
    filter: invert(33%) sepia(42%) saturate(2731%) hue-rotate(220deg)
      brightness(96%) contrast(103%);
  }

  nav.nav section div.menu {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
    background-image: url(../../../assets/icons/menu-mobile.svg);
    background-size: cover;
    cursor: pointer;
    filter: invert(33%) sepia(42%) saturate(2731%) hue-rotate(220deg)
      brightness(96%) contrast(103%);
  }

  nav.nav div.mobile {
    background: var(--white-color);
  }

  nav.nav div.mobile div.option_menu {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  nav.nav div.mobile div.option_menu a {
    color: var(--text-color);
    border-bottom: 1px solid var(--primary-color);
  }

  nav.nav div.mobile div.option_menu select.select {
    background: none;
    border: none;
    color: var(--text-color);
  }
}
