article.article_modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  left: 0;
  top: 0;
  overflow: hidden;
}

article.article_modal div.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  background: rgba(40, 40, 40, 0.8);
}

article.article_modal section.section_photo:not(.hidden) {
  position: relative;
  z-index: 10;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}

article.article_modal section.section_photo div.content_description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

article.article_modal section.section_photo div.content_description h4 {
  font-size: 20px;
}

article.article_modal section.section_photo div.content_description form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

article.article_modal section.section_photo div.content_description form div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

article.article_modal
  section.section_photo
  div.content_description
  form
  div
  button {
  height: 35px;
  border-radius: 8px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border: none;
  background: none;
  width: 150px;
  text-align: center;
  justify-content: center;
}

article.article_modal
  section.section_photo
  div.content_description
  form
  div
  button.webcam {
  background: var(--primary-color);
  color: var(--white-color);
  font-weight: 500;
}

article.article_modal
  section.section_photo
  div.content_description
  form
  div
  input {
  display: none;
}

article.article_modal
  section.section_photo
  div.content_description
  form
  div
  label {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 10px 20px;
  height: 35px;
  width: 150px;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  font-weight: 500;
}

article section button.captureButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 10px 20px;
  height: 35px;
  width: 150px;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  font-weight: 500;
  background: none;
}

article.article_modal section.section_photo div.content_img img.preview_img {
  width: 150px;
  height: 150px;
}

article.article_modal section.section_photo div.content_img div.content_button {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

div.content_button button {
  height: 35px;
  border-radius: 8px;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  background: none;
  width: 150px;
  text-align: center;
  justify-content: center;
}

div.content_button button.button_replace {
  background-color: var(--primary-color);
  color: var(--white-color);
}

div.content_button button.button_search {
  background-color: var(--white-color);
  border: 1px solid var(--primary-color);
}

.hidden {
  display: none !important;
}

article.article_modal
  section.section_photo
  div.content_img
  div.content_button
  button.button_cut {
  position: absolute;
  width: auto;
  top: 50px;
  right: 70px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

article.article_modal
  section.section_photo
  div.content_img
  div.content_button
  button.button_cut::after {
  content: "cortar";
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 5px;
  padding: 2px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
article.article_modal
  section.section_photo
  div.content_img
  div.content_button
  button.button_cut:hover::after {
  opacity: 1;
}

article.article_modal
  section.section_photo
  div.content_img
  div.content_button
  button.button_cut
  img.cut_button {
  width: 30px;
  height: 30px;
}
